@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:100,300,700');

body {
    padding: 0;
    margin: 0;
    background-color: #fff;
    font-family: 'Roboto';
}

.main {
    background-color: #d6beeb;
    padding: 2% 10%;
}

.main h1 {
    text-align: center;
    line-height: 2;
}

.section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 40px;
}

.card {
    border-radius: 5%;
    background-color: #ffe4c6;
    width: 200px;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);

}

.card img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 10%;
    margin-right: 20px;
    border: 3px solid #fff;
}

.card:hover {
    transform: translateY(-10px);
    transition: transform 0.5s;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.7);

}